@charset "UTF-8";
body {
  font-family: Gilroy, Helvetica, Arial, sans-serif !important;
}

h3 {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.noUi-marker.noUi-marker-horizontal.noUi-marker-large {
  display: none;
}

/* Inline таблица стилей #-1 | https://codepen.io/evgenmist/pen/QWLQKBX */
.mdi-icon.mdi-48px {
  height: 48px !important;
  width: 48px !important;
  text-align: center;
}

/* Inline таблица стилей #-1 | https://codepen.io/evgenmist/pen/QWLQKBX */
.final-lid {
  text-align: center;
}

/* Inline таблица стилей #-1 | https://codepen.io/evgenmist/pen/QWLQKBX */
.box-white {
  height: 77px;
  width: 100%;
  background-color: #fff;
  position: absolute;
}

.btn.btn-red:first-child {
  text-decoration: none !important;
  color: #4a505e !important;
  background-color: #fafafa !important;
  border: 1px solid #e5e5e5 !important;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 12px;
  box-shadow: none;
}

.form-control:focus {
  border-color: rgba(255, 0, 0, 0.37) !important;
  box-shadow: 0px 1px 16px rgba(255, 0, 0, 0.12) !important;
}

.btn.btn-red:first-child:hover {
  box-shadow: 0px 0px 4px #998d8d63;
}

.btn.btn-red:first-child {
  padding: 12px 16px 12px 16px !important;
  margin-right: 15px !important;
}

.container {
  position: relative !important;
}

.mdi-icon {
  width: 2.2rem !important;
  height: 2.2rem !important;
  fill: #f83a4b;
}

.alert-danger {
  color: #fff !important;
  background-color: #f83a4b !important;
  border-color: #f83a4b !important;
}

::-webkit-input-placeholder {
  font-size: 23px !important;
  /* Chrome */
  font-weight: 500;
  opacity: 0.3;
}

:-ms-input-placeholder {
  font-size: 23px !important;
  /* IE 10+ */
  font-weight: 500;
  opacity: 0.3;
}

::-moz-placeholder {
  font-size: 23px !important;
  /* Firefox 19+ */
  font-weight: 500;
  opacity: 0.3;
}

:-moz-placeholder {
  font-size: 23px !important;
  /* Firefox 4 - 18 */
  font-weight: 500;
}

h5 {
  font-size: 28px !important;
  margin: 12px 0 16px 0 !important;
  line-height: 1.2 !important;
  font-weight: 500;
}

.form-control {
  font-size: 23px !important;
  border-radius: 4px;
  height: 66px !important;
  border: 1.2px solid #b1b5be;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
}

.center-block {
  border-radius: 20px !important;
  background: #dbdbdb !important;
  height: 8px !important;
}

.progress {
  overflow: visible !important;
  position: fixed;
  bottom: 7px;
  z-index: 1;
}

.progress-bar {
  background-color: #f83a4b !important;
  box-shadow: 0px 1px 16px rgba(255, 0, 0, 0.37) !important;
  height: 8px !important;
  z-index: 99 !important;
  border-radius: 20px !important;
}

.progress-bar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.08) 25%, transparent 0, transparent 50%, rgba(255, 255, 255, 0.08) 0, rgba(255, 255, 255, 0.08) 75%, transparent 0, transparent);
  background-size: 20px 20px;
  -webkit-animation: move 1.5s linear infinite;
  animation: move 1.5s linear infinite;
  border-radius: 20px;
}

.noUi-connect {
  background-color: #f83a4b !important;
  box-shadow: 0px 1px 16px rgba(255, 0, 0, 0.37) !important;
  height: 8px !important;
  z-index: 1 !important;
  border-radius: 20px !important;
}

#slider {
  height: 7px;
}

.noUi-horizontal .noUi-handle {
  width: 28px !important;
  height: 28px !important;
  left: -17px !important;
  top: -10px !important;
  border-radius: 37px;
}

.noUi-horizontal .noUi-handle {
  width: 28px !important;
  top: -10px !important;
  border-radius: 37px !important;
}

.noUi-handle::before {
  left: 10px !important;
}

.noUi-handle::after {
  left: 14px !important;
}

.noUi-connect:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.08) 25%, transparent 0, transparent 50%, rgba(255, 255, 255, 0.08) 0, rgba(255, 255, 255, 0.08) 75%, transparent 0, transparent);
  background-size: 20px 20px;
  -webkit-animation: move 1.5s linear infinite;
  animation: move 1.5s linear infinite;
  border-radius: 20px;
}

/* Inline таблица стилей #-1 | https://codepen.io/evgenmist/pen/QWLQKBX */
.progress-bar span {
  position: absolute;
  top: -22px;
  color: #000;
  left: 0;
}

.panel-body {
  /* padding: 15px; */
  padding: 15px 15px 100px 15px;
}

#slider {
  margin-bottom: 50px;
}
#slider .noUi-connect {
  background: #1ab394;
}

.btn-red {
  background-color: #f83a4b;
  box-shadow: 0 3px 10px 0 #f83a4b80;
  color: #fff;
  border-radius: 3px;
  transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
  border-radius: 24px !important;
  padding: 12px 17px 12px 17px !important;
  font-weight: 500;
}
.btn-red:hover, .btn-red:focus {
  box-shadow: 0 3px 15px 0 #f83a4b80;
  color: #fff !important;
}

.panel-footer {
  text-align: right;
  background-color: #fff !important;
  display: block;
  padding: 13px 15px !important;
  position: fixed;
  width: 100%;
  max-width: 1170px;
  bottom: 0;
}

.progress.center-block {
  width: 30% !important;
}

@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -85px;
    margin-top: -85px;
    opacity: 0;
  }
}
.radio {
  width: 50% !important;
}

.radio input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 9.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  border-radius: 50%;
}

/* nouislider.min.css | https://unpkg.com/nouislider@9.2.0/distribute/nouislider.min.css */
.noUi-handle::after, .noUi-handle::before {
  top: 5px !important;
}

/* Inline таблица стилей #-1 | https://codepen.io/evgenmist/pen/QWLQKBX */
.sum-slider {
  text-align: center;
}

#slider-padding-value-min {
  margin-right: 50%;
  color: #b5b5b5 !important;
}

#slider-padding-value-max {
  color: #131313 !important;
  font-size: 1.9rem;
}

#slider-padding-value-min {
  color: #131313 !important;
  font-size: 1.9rem;
}

.radio input:hover {
  background: rgba(255, 0, 0, 0.12);
  border-radius: 50%;
}

.radio input:checked {
  background: #f83a4b;
  border-radius: 50%;
}

.radio input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '●';
  display: inline-block;
  text-align: center;
  font-size: 35.667px;
  line-height: 26px;
  border-radius: 50%;
}

.radio input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #f83a4b;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}

.sum-slider {
  text-align: center;
}

#slider-padding-value-min {
  margin-right: 50%;
  color: #b5b5b5 !important;
}

#slider-padding-value-max {
  color: #131313 !important;
  font-size: 1.9rem;
}

#slider-padding-value-min {
  color: #131313 !important;
  font-size: 1.9rem;
}

.noUi-base {
  background: #fb9da4;
  cursor: pointer !important;
}

.noUi-horizontal .noUi-handle {
  background: #f83a4b !important;
}

.noUi-handle::before {
  left: -37px !important;
  display: none !important;
}

.noUi-handle::after {
  left: 5px !important;
}

.noUi-handle {
  box-shadow: none !important;
  box-shadow: 0px 1px 16px rgba(255, 0, 0, 0.37) !important;
}

.noUi-handle::after, .noUi-handle::before {
  height: 16px !important;
  width: 16px !important;
  background: #fff !important;
  border-radius: 100px !important;
  cursor: pointer !important;
}
.noUi-handle {
  border: 1px solid #fa2834 !important;
}
